*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100%;
}

nav{
    background-color: #141A52;
    height: 6rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.links{
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: space-around;
}

a{
    height: 100%;

    display: inline-flex;
    align-items: center;
    text-decoration: none;

    color: white;

    /* Font */
    font-size: 1.2rem;
    font-family: sans-serif;
    padding: 0 1rem;

    border-bottom: 6px solid #141A52;
}

.links a:hover{
    border-bottom: 6px solid white;
}

/* Icone de Menu */

.menu-icon{
    display: none;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    cursor: pointer;
}

.line{
    width: 40px;
    height: 2px;
    background-color: white;
    margin-bottom: 10px;
    transform-origin: 50%;
}

@media (max-width: 850px){
    
    .menu-icon{
        display: flex;
        padding: 0.5rem;
    }

    .links{
        display: none;
        flex-direction: column;
        height: 60vh;
        width: 50%;

        position: absolute;
        top: 6rem;
        left: 0;

        background-color: #141A52;
    }

    .open-menu{
        display: flex;
        animation: openMenu 0.6s;
    }

    .close-menu{
        display: flex;
        animation: closeMenu 0.6s;
    }

    .line.animate:nth-of-type(1){
        animation: moveLine1 1s forwards
    }

    .line.animate:nth-of-type(2){
        visibility: hidden;
    }

    .line.animate:nth-of-type(3){
        animation: moveLine3 1s forwards
    }
}

/* Animações */

@keyframes openMenu{
    from{
        left: -1000px;
    }
    to{
        left: 0px;
    }
}

@keyframes closeMenu{
    from{
        left: 0px;
    }
    to{
        left: -1000px;
    }
}

@keyframes moveLine1{
    to{
        transform: translateY(12px) rotateZ(45deg)
    }
}

@keyframes moveLine3{
    to{
        transform: translateY(-12px) rotateZ(-45deg)
    }
}